In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import requests
import lxml

from bs4 import BeautifulSoup

In [2]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

soup = BeautifulSoup(source, 'html5lib')

In [3]:
table=soup.table
table_rows=table.find_all('tr')
for tr in table_rows:
    td=tr.find_all('td')
    row=[i.text for i in td ]
    #print(row)

In [4]:
dfs=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)
dfp=dfs[0]

In [5]:
dfp.columns

Index(['Postcode', 'Borough', 'Neighbourhood'], dtype='object')

In [6]:
dfp=dfp[dfp['Borough']!= 'Not assigned']

In [7]:
dfp.head()
#dfk=dfp.groupby(dfp['Postcode']).agg({'Borough':'first','Neighbourhood':', '.join}).reset_index()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [8]:
dfnew=dfp.drop_duplicates('Postcode', keep='first', inplace=False).reset_index()

In [9]:
dfnew=dfnew[['Postcode','Borough','Neighbourhood']]
dfnew.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M7A      Queen's Park      Not assigned

In [10]:
dfnew.shape

(103, 3)

In [11]:
dfgeo=pd.read_csv('http://cocl.us/Geospatial_data')

In [12]:
dfgeo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [13]:
dfgeo.rename(columns={'Postal Code': 'Postcode'},inplace =True)
dfgeo.columns

Index(['Postcode', 'Latitude', 'Longitude'], dtype='object')

In [14]:
postcode=pd.merge(dfnew,dfgeo, on='Postcode',how='inner')

In [21]:
postcode.head(10)

  Postcode           Borough     Neighbourhood   Latitude  Longitude
0      M3A        North York         Parkwoods  43.753259 -79.329656
1      M4A        North York  Victoria Village  43.725882 -79.315572
2      M5A  Downtown Toronto      Harbourfront  43.654260 -79.360636
3      M6A        North York  Lawrence Heights  43.718518 -79.464763
4      M7A      Queen's Park      Not assigned  43.662301 -79.389494
5      M9A         Etobicoke  Islington Avenue  43.667856 -79.532242
6      M1B       Scarborough             Rouge  43.806686 -79.194353
7      M3B        North York   Don Mills North  43.745906 -79.352188
8      M4B         East York  Woodbine Gardens  43.706397 -79.309937
9      M5B  Downtown Toronto           Ryerson  43.657162 -79.378937